api:
  dashboard: true
  insecure: false
entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: ":443"
    forwardedHeaders:
      trustedIPs:
        - 127.0.0.1/32
        - 10.0.0.0/8
        - 172.16.0.0/12
        - 192.168.0.0/16
  minecraft:
    address: ":25565/tcp"
providers:
  file:
    filename: /etc/traefik/static.yml
    watch: true
  docker:
    exposedByDefault: false
certificatesResolvers:
  cloudflare:
    acme:
      email: sysadmin@umbos.net
      storage: /certificates/acme.json
      dnsChallenge:
        provider: cloudflare
  web:
    acme:
      email: sysadmin@umbos.net
      storage: /certificates/acme.json
      httpChallenge:
        entryPoint: web
